@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-title: var(--font-title);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

html::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-title {
  font-family: var(--font-title);
}
